html
  head
    title AMS
    link(rel='stylesheet', href='/style.css')
  body
    include header1.pug
    header
      h1.center.scaps Welcome #{user.name}!
      p.center Select an action to perform
      .dashboardButtons
        a(href='/check_in' class='button') Check In
        a(href='/check_out' class='button') Check Out
        a(href='/daily_report' class='button') Daily Attendance Report
        a(href='/report' class='button') Monthly Attendance Report
        a(href='/add_employee' class='button') Add Employee
