html
  head
    title Cressoft AMS Admin Dashboard
    link(rel='stylesheet', href='/style.css')
  body
    include header1.pug
    header
      h1.center.scaps Welcome #{user.name}!
      p.center Select an action to perform
      .dashboardButtons
        a(href='/daily_report' class='button') Daily Attendance Report
        a(href='/report' class='button') Monthly Attendance Report
        a(href='/add_employee' class='button') Add Employee
        a(href='/daily_working_hours' class='button') Generate Daily Working Hours
        a(href='/monthly_working_hours' class='button') Generate Monthly Working Hours
        a(href='/review_leaves' class='button') Review Leaves
        a(href='/leave_history_admin' class='button') Leaves History
        a(href='/admin_leave_history' class='button') Monthly Leaves History
