head
  title Cressoft AMS Daily Working Hours
  link(rel='stylesheet', href='/style.css')
body
  include header1.pug
  h2.center.scaps Fill the Form to check Your Employee's Working Hours
  br
form(method="post", action="/daily_working_hours")
  input(type="text", name="name", placeholder="Employee Name" required=true)
  input(type="date", name="date", required=true)
  button(type="submit") Get Daily Working Hours
