html
  head
    title Cressoft AMS Employee Dashboard
    link(rel='stylesheet', href='/style.css')
  body
    include header1.pug
    header
      h1.center.scaps Welcome #{user.name}!
      p.center Select an action to perform
      .dashboardButtons
        a(href='/check_in' class='button') Check In
        a(href='/check_out' class='button') Check Out
        a(href='/daily_tasks' class='button') Daily Tasks
        a(href='/apply_leave' class='button') Apply Leave
        a(href='/leave_history' class='button') Leaves History
        a(href='/employee_daily_attendance' class='button') View  Daily Attendance
        a(href='/employee_monthly_report' class='button') View  Monthly Attendance
        a(href='/employee_working_hours' class='button') View Daily Working Hours
        a(href='/employee_monthly_working_hours' class='button') View Monthly Working Hours
        