html
  head
    title Cressoft AMS Leaves History
    link(rel='stylesheet', href='/invoice.css')
  body
    include header1.pug
    header
      h1.center.scaps Employee Leave Summary
      div.table-container
        table.table-bordered
            thead
              tr
                th Employee
                th Approved Leave Days
                th Rejected Leave Days
            tbody
              each summary in leaveSummary
                tr
                  td= summary.name.trim()  
                  td= summary.approved_leave_days
                  td= summary.rejected_leave_days
