html
  head
    title Cressoft AMS Monthly Working Hours
    link(rel='stylesheet', href='/style.css')
  body
    include header1.pug
    h2.center.scaps Fill the Form to check Your Employee's Monthly Working Hours
    br
    form(method='post' action='/monthly_working_hours' class='')
      label(for='name') Name:
      input(type='text', name='name', required=true)
      label(for='year') Year:
      input(type='number', name='year', min='1', required=true)
      label(for='month') Month:
      input(type='number', name='month', min='1', required=true)
      p.gorg
        button(type='submit' class="button") Submit